.footer {
    background-color: black;
    color: white;
    width: 100%;
}

.footer_container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 100px 20px;
    display: flex;
    gap: 100px;
}

.footer img {
    width: 100px;
    height: 100px;
}

.footer_card {
    width: 20%;
}

.footer_dev {
    text-align: center;
    padding: 20px;
}